@media (max-width: 480px) {
    #container {
        width: 95%;
    }
    .widget-calendario {
        position: static;
        display: block;
        margin-bottom: 2em;
    }
    .widget-grafico {
        display: block;
        position: static;
        margin-bottom: 4em;
    }
    .widget-relatorio {
        display: block;
        position: static;
    }
}