header {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#e6ffffff',GradientType=0 ); /* IE6-8 */
	position: static;
}

.nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
}

.nav-collapse {
	float: right;
}

.navbar .nav > li > a {
	padding: 28px 10px;
}

.slider-wrapper {
	z-index: -1;
}

#page-title {
	z-index: -1;
}

#googlemaps{
	z-index: -1;
}